@startuml
' Use o modo E-R
!define table(x) class x << (T,#FFAAAA) >>
!define primary_key(x) <u>x</u>

{% for table in tables %}
table({{ table.name }}) {
    {% for column in table.columns %}
    {% if column.primary_key %}
    primary_key({{ column.name }})
    {% else %}
    {{ column.name }}{% if column.is_fk %} (FK){% endif %}
    {% endif %}
    {% endfor %}
}
{% endfor %}

' Relacionamentos
{% for rel in relationships %}
{{ rel.left }} ||--o{ {{ rel.right }}{% if rel.label %} : {{ rel.label }}{% endif %}
{% endfor %}

@enduml
